@model Tour
@{
	ViewBag.Title = "Nowa Wycieczka";
}

<div class="row border bg-light rounded p-1 mb-2">
	<div class="col-md-3">
		<img src="~/img/malaga.jpg" class="img-fluid img-rounded"/>
	</div>

	<div class="col-md-9">
		<form method="post">
			<div asp-validation-summary="ModelOnly"></div>
			<div class="form-group">
				<label asp-for="Name">Nazwa</label>
				<input asp-for="Name" class="form-control"/>
				<span asp-validation-for="Name" class="text-warning"></span>
			</div>
			<div class="form-group">
				<label asp-for="TerminOd">Termin od:</label>
				<input asp-for="TerminOd" type="datetime" class="form-control"/>
				<span asp-validation-for="TerminOd" class="text-warning"></span>
			</div>
			<div class="form-group">
				<label asp-for="TerminDo">Termin do:</label>
				<input asp-for="TerminDo" type="datetime" class="form-control"/>
				<span asp-validation-for="TerminDo" class="text-warning"></span>
			</div>
			<div class="form-group">
				<label asp-for="SamolotFirma">Samolot:</label>
				<input asp-for="SamolotFirma" class="form-control"/>
				<span asp-validation-for="SamolotFirma" class="text-warning"></span>
			</div>
			<div class="form-group">
				<label asp-for="SamolotCena">Samolot Cena:</label>
				<input asp-for="SamolotCena" class="form-control"/>
				<span asp-validation-for="SamolotCena" class="text-warning"></span>
			</div>
			<div class="form-group">
				<label asp-for="Hotel">Hotel:</label>
				<input asp-for="Hotel" class="form-control"/>
				<span asp-validation-for="Hotel" class="text-warning"></span>
			</div>
			<div class="form-group">
				<label asp-for="HotelCena">Hotel Cena:</label>
				<input asp-for="HotelCena" class="form-control"/>
				<span asp-validation-for="HotelCena" class="text-warning"></span>
			</div>
			<div class="form-group">
				<label asp-for="Organizator">Organizator:</label>
				<input asp-for="Organizator" value="@User.Identity.Name" class="form-control"/>
				<span asp-validation-for="Organizator" class="text-warning"></span>
			</div>
			<div class="form-group">
				<label asp-for="Opis">Twój opis:</label>
				<textarea asp-for="Opis" rows="4" class="form-control"></textarea>
				<span asp-validation-for="Opis" class="text-warning"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Zapisz" class="btn btn-success" />
			</div>
		</form>
	</div>
</div>